<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>UrlShorter :: Error</title>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/style.css') }}">
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    </head>
  <body translate="yes">
    <section id="error" rel="error">
      <h1>Error</h1>
      <h2>{{ data.message }}</h2>
      <a href="/" class="home-link">Home</a>
    </section>    
  </body>
</html>
